images/archive/*
!images/archive/.gitkeep
images/*
!images/.gitkeep
result/*
!result/.gitkeep
fonts/*
!fonts/.gitkeep
config.yaml
#pyinstaller
__pycache__/
build/
dist
make.spec

#vscode
.vscode
.history